[submodule "ico_server"]
	path = ico_server
	url = https://github.com/ezlixp/ico_server.git
[submodule "ogybot_discord"]
	path = ogybot_discord
	url = https://github.com/ezlixp/ogybot-discord.git
	branch = develop
