[submodule "ico-server"]
	path = ico-server
	url = https://github.com/ezlixp/ico-server.git
[submodule "ogybot-discord"]
	path = ogybot-discord
	url = https://github.com/ezlixp/ogybot-discord.git
	branch = develop
